{% extends 'article/article_clown.html' %}

{% block content %}
    <div class="article-type">
        <ul>
            {% for type in types %}
                {% if forloop.counter == 2 %}
                    <li><a href="{% url 'article:article_type' type_id=forloop.counter %}" class="text-color">{{ type.tname }}</a></li>
                {% else %}
                    <li><a href="{% url 'article:article_type' type_id=forloop.counter %}">{{ type.tname }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="m"></div>
    <div class="right-article">
        {% for article in articles %}
            <div class="article-box">
                <div class="title">
                    <h4><a href="{% url 'article:article_info' article.id %}">{{ article.title }}</a></h4>
                </div>
                <div class="text">
                    <p>{{ article.text }}</p>
                </div>
                <div class="icon">
                    <span>作者：{{ article.user.username }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>访问量：{{ article.visit_num }}</span>
                    <span>喜欢：{{ article.like_num }}</span>
                    <span>收藏：{{ article.save_num }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}